
<table>
<div id="<%= dom_id reward %>">

    <tr><th><strong>usn:</strong></th><th><strong>course code:</strong></th><th><strong>Cee obtained:</strong></th><th><strong>See obtained:</strong></th><th><strong>course id:</strong></th><th><strong>student id:</strong></th></tr>
    
   <tr>
  <td> 
    <%= reward.usn%>
  </td>
  <td> 
    <%= reward.course_code%>
  </td> 
  <td> 
    <%= reward.cee_obtained%>
  </td>
  <td>
    <%= reward.see_obatined%>
  </td>
  <td>
    <%= reward.students_id%>
  </td>
  <td>
    <%= reward.courses_id%>
  </td>
  </tr>
</div>
</table>