
<table>
<div id="<%= dom_id outcome %>">

    <tr><th><strong>usn:</strong></th><th><strong>course code:</strong></th><th><strong>Cee obtained:</strong></th><th><strong>See obtained:</strong></th><th><strong>course id:</strong></th><th><strong>student id:</strong></th></tr>
    
   <tr>
  <td> 
    <%= outcome.usn%>
  </td>
  <td> 
    <%= outcome.course_code%>
  </td> 
  <td> 
    <%= outcome.cee_obtained%>
  </td>
  <td>
    <%= outcome.see_obtained%>
  </td>
  <td>
    <%= outcome.student_id%>
  </td>
  <td>
    <%= outcome.course_id%>
  </td>
  </tr>
</div>
</table>